@font-face {
    font-family: 'bento';
    src: url('fonts/bento-2oxaw-webfont.woff2') format('woff2'),
         url('fonts/bento-2oxaw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h1 {
    font: 1em "bento", sans-serif;
    color: #fff;
}

.main-container {
    background: #f9fafb;
    flex: 1;
    max-width: 1378px;
    height: 100vh;
    margin: 0 auto;
}