@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@font-face {
  font-family: "bento";
  src: url("fonts/bento-2oxaw-webfont.woff2") format("woff2"),
    url("fonts/bento-2oxaw-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 22px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #000;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  background: #f9fafb;
  flex: 1;
  max-width: 1378px;
  height: 100vh;
  margin: 0 auto;
}

.left-container {
  position: relative;
  width: 35%;
  background: #fff url(bg-image.jpg) no-repeat;
  background-size: cover;
}

.right-container {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

/* .left-container::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00000044;
} */

.logo-container {
  position: relative;
  top: 200px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  z-index: 10;
}

.logo-container .logo-svg {
  margin-right: 20px;
}

.logo-container .logo-svg svg {
  display: block;
  fill: #fff;
  width: 90px;
  height: 90px;
}

.logo-container h1 {
  font: 2.5rem "bento", sans-serif;
  color: #fff;
}

.credit {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.6rem;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.credit a,
.credit a:visited,
.credit a:active,
.credit a:hover {
  color: #fff;
}

.right-container .top-section,
.right-container .bot-section {
  margin-left: 50px;
}

.right-container .top-section p,
.right-container .form-section p {
  font-size: 1.1rem;
  font-weight: 500;
}

.right-container .top-section {
  max-width: 700px;
}

.top-section {
  margin-bottom: 30px;
}

.top-section p + p {
  margin-bottom: 30px;
}

.inner-form {
  background-color: #fff;
  /* padding: 20px 100px 20px 50px; */
  padding: 20px 50px;
  box-shadow: #c1c1c1 0px 2px 4px 0px;
}

.inner-form p {
  margin-bottom: 20px;
}
/* 
.inner-form p {
    flex: 1;
}

.inner-form .input-container {
    flex: 0.5;
} */

.form-row {
  display: flex;
  margin-bottom: 20px;
}

form label {
  display: block;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
  color: #585858;
  font-weight: 500;
  margin-bottom: 4px;
}

form input {
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    padding: 6px;
    outline-style: none;
}

form input:focus, form input:focus-visible {
    border: 1px solid #6ba8dd;
    box-shadow: #d9d9d9 2px 2px 4px 0;
}

form .input-container {
    margin-right: 70px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  margin: 30px 0 30px 50px;
  color: #fff;
  background-color: #9ec6ea;
  padding: 10px 50px;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  box-shadow: #b5b5b5 2px 2px 4px 0;
  cursor: pointer;
}

.bot-section {
  font-size: 0.8rem;
}

.bot-section .login {
  color: #6ba8dd;
  text-decoration: none;
}
